[user]
	name = bni
	email = bnilsson@me.com

[alias]
	l = log --pretty=oneline -n 20 --graph
	s = status -s
	d = difftool
	a = add
	ca = commit -a
	cob = checkout -b
	co = checkout
	b = branch
	bd = branch -d
	r = rebase
	m = merge

[color]
	ui = auto

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
	prompt = false

[diff]
	tool = Kaleidoscope

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[mergetool]
	prompt = false

[merge]
	tool = Kaleidoscope
